.top-row{
  background-color: #cc99cc;
  min-height: 6vh;
}

.button-row{
  background-color: #e5cce5;
  min-height: 30vh;
}

i {
  color: #800080;
}

.score-row{
  background-color: #cc99cc;
  min-height: 10vh;
}
